body{
    color: #939396;
    background: #1D2475 url("cse326bg.jpg") no-repeat fixed right top;
}

p{
    font: 100% Helvetica,Verdana,sans-serif;
}

p:first-letter{
    font-weight: bold;
    font-size: 150%;
}

h1{
    font-size: 40pt;
    text-shadow: 3px -3px green;
}

h1,h2{
    color: #F7931E;
}

li{
    font-size: 70%;
    font-weight: bold;
}

a{
    color: #FF4F4F;
    text-decoration: none;
}

strong,dt{
    color: #FFF86B;
}

q{
    color: #D1DFEB;
}

q,ul,ol{
    text-align: left;
}

a:hover{
    text-decoration: underline;
}

table,td,tr{
    border: 1px dashed;
    margin: 0;
}

table{
    border-collapse: collapse;
}

#square{
    list-style-type: square;
}

img{
    border: solid 3px #F7931E;
}

.noOutline {
    border: 0;
}
